<div class="overlay">
    <div class="dialog">
        <h1>Feedback</h1>
        <div class="feedback" *ngIf="!complete">
            <div>
                <p>What can we do better?</p>
                <div class="textarea">
                    <textarea name="" id="" [(ngModel)]="data.feedback"></textarea>
                </div>
            </div>
            <div class="buttons">
                <button class="cancel-button " (click)="onNoClick()">Cancel</button>
                <button class="submit-button" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <div class="feedback-complete" *ngIf="complete">
            <p>Your feedback has been received. Thank you for helping us improve!</p>
            <div class="buttons">
                <button class="cancel-button " (click)="onNoClick()">Ok</button>
            </div>
        </div>
    </div>
</div>


