<!-- /*
 * Copyright FMR LLC <opensource@fidelity.com>
 *
 * SPDX-License-Identifier: Apache
 */ -->
<button *ngIf="!isShowFeedback" class="btn-feedback" (click)="showFeedback()">
    <fa-icon class="feedback-icon" [icon]="faEnvelope"></fa-icon>
</button>

<button *ngIf="isShowFeedback" class="btn-feedback" (click)="showFeedback()">
    <fa-icon class="feedback-icon" [icon]="faClose"></fa-icon>
</button>


<div *ngIf="isShowFeedback" class="feedback-content">
    <div class="alert">
        <div class="alert-title">We'd like to know your thoughts</div>
        <div class="alert-subtitle">
            <fa-icon [icon]="faEnvelope"></fa-icon>GoBrew@fmr.com
        </div>
    </div>
</div>