<!-- /*
 * Copyright FMR LLC <opensource@fidelity.com>
 *
 * SPDX-License-Identifier: Apache
 */ -->
<button *ngIf="!isShowFeedback" class="btn-feedback" (click)="showFeedback()">
    <fa-icon class="feedback-icon" [icon]="faCommentAlt"></fa-icon>
</button>

<button *ngIf="isShowFeedback" class="btn-feedback" (click)="showFeedback()">
    <fa-icon class="feedback-icon" [icon]="faClose"></fa-icon>
</button>


<div *ngIf="isShowFeedback" class="feedback-content">
    <div class="alert">
        <div class="alert-title">We'd like to know your thoughts</div>
        <div class="alert-subtitle">
            <div class="feedback-email" *ngIf="configInfo && configInfo.emailAddr">
                <fa-icon [icon]="faEnvelope"></fa-icon>{{configInfo.emailAddr}}
            </div>
            <a href="https://github.com/fidelity/theliv" target="_blank">
                <fa-icon [icon]="faCodeBranch"></fa-icon>Theliv@GitHub
            </a> 
        </div>
    </div>
</div>