/*
 * Copyright FMR LLC <opensource@fidelity.com>
 *
 * SPDX-License-Identifier: Apache
 */
.theliv-resource-group-content-container {
    -webkit-animation: slideY 0.6s both;
    animation: slideY 0.6s both;
    .group-container {
        background-color: var(--header-bg-color);
        border-radius: 8px;
        padding: 20px 16px;
        .resource-group-header{
            border-bottom: 1.5px var(--border-color) solid;
            transition: 0.2s;
            // margin-bottom: 15px;
            &-title {
                display: flex;
                padding: 0px 15px 10px 15px;
                &-icon {
                    cursor: pointer;
                    align-self: center;
                    color: var(--subtitle-color);
                    font-size: 14px;
                    font-weight: 400;
                    fa-icon {
                        width: 28px;
                        padding: 3px 3px;
                    }
                    &:hover {
                        color: var(--active-color);
                    }
                }
            }
            &-title-layout {
                width: 100%;
                &-title {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--active-color);
                    
                }
                &-subtitle {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 18px;
                    
                }
            }
        }
        
        .resource-detail-content {
            padding: 0 12px;
            margin: 10px;
            border-radius: 8px;
            transition: 0.2s;
            .resource-action {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-bottom: 5px;
                margin-top: -5px;
                fa-icon {
                    width: 28px;
                    border: 1px solid var(--border-color);
                    color: var(--subtitle-color);
                    border-radius: 8px;
                    padding: 3px 6px;
                    cursor: pointer;
                    &.thumbs-up {
                        color: #fff;
                        background-color: var(--active-color);
                        border: 1px solid var(--active-color);
                    }
                }
                fa-icon + fa-icon {
                    margin-left: 12px;
                }
            }
            .kube-icon {
                height: 50px;
            }
            .error-msg {
                color: var(--error-button);
                font-weight: 600;
                margin-right: 8px;
            }
            &-header {
                display: flex;
                align-items: flex-start;
                &.deployment-container {
                    margin: 1em 0;
                    padding-bottom: 1em;
                    // border-bottom: 1px dashed var(--border-color);
                    border-bottom: 2px dashed var(--color-summary-1-highlight);
                }
            }
            &-header-layout {
                width: 100%;
            }
            &-title {
                justify-content: space-between;
                font-weight: 600;
                margin-top: 3px;
                margin-left: 5px;
                font-size: 14px;
                a {
                    color: var(--body-color);
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 4px;
                    margin-left: 4px;
                    line-height: 1em;
                    line-break: anywhere;
                    border-bottom: 1px solid var(--placeholder-color);
                    &:hover {
                        color: var(--level-button);
                        border-bottom: 1px solid;
                    }
                }
            }
            &-subtitle {
                display: flex;
                justify-content: space-between;
                font-weight: 600;
                margin-top: 3px;
                margin-left: 5px;
                font-size: 14px;
            }
            &-time {
                color: var(--subtitle-color);
                font-size: 13px;
                font-weight: 400;
                margin: 0 5px;
                line-height: 1em;
            }
            .issue-content {
                color: var(--subtitle-color);
                font-size: 14px;
                margin-top: 14px;
                line-height: 1.6em;
                margin-left: -50px;
                fa-icon {
                    margin-right: 5px;
                }
                .issues-subtitle {
                    color: var(--error-button);
                    font-weight: 600;
                }
                .cause-subtitle {
                    // color: var(--error-button);
                    margin-top: 10px;
                    font-weight: 600;
                }
            }
        }
        .source-button {
            background-color: var(--active-color);
            height: 30px;
            border: none;
            font-weight: 600;
            margin-right: 15px;
            padding: 0 15px;
            border-radius: 0 8px 8px 0;
            color: var(--button-color);
            cursor: pointer;
            margin-left: auto;
        }

        .pod-container{
            margin-top: 15px;
            border-bottom: 1.5px solid var(--border-color);
            &.flex-container {
                display: flex;
                flex-wrap: wrap;
                .resource-detail-content {
                    width: 50%;
                    padding-left: 15px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:nth-child(2n + 1) {
                        border-right: 1px dashed var(--border-color);
                    }
                }
            }
        }
        .deployment-container {
            margin-top: 15px;
            border-bottom: 1.5px solid var(--border-color);
        }
        .service-container {
            margin-top: 15px;
            border-bottom: 1.5px solid var(--border-color);
        }
        .ingress-container {
            margin-top: 15px;
            border-bottom: 1.5px solid var(--border-color);
            &.flex-container {
                display: flex;
                flex-wrap: wrap;
                .resource-detail-content {
                    width: 50%;
                    padding-left: 15px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:nth-child(2n + 1) {
                        border-right: 1px dashed var(--border-color);
                    }
                }
            }
        }
        .other-container {
            .resource-detail-content {
                margin: 0;
                padding: 1.2em 0.6em;
                border-bottom: 1.5px solid var(--border-color);
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .block {
            border-radius: 8px;
            .resource-detail-content {
                margin: 0;
                padding: 1.2em 0.6em;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }
        .popup {
            width: 70%;
        }
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 1em 0.5em 0.5em 0.5em;
    .source-button {
        position: relative;
        left: calc(100% - 150px);
        bottom: 40px;
        background-color: var(--active-color);
        height: 30px;
        border: none;
        font-weight: 600;
        // font-size: 14px;
        padding: 0 15px;
        border-radius: 0 8px 8px 0;
        color: var(--button-color);
        cursor: pointer;
        margin-left: auto;
    }
    #grid-table {
        background: var(--header-bg-color);
        border: 1px solid var(--shadow);
        // padding: 0 0.5em;
        border-radius: 8px;
        width: 100%;
        td,
        th {
            // border: 1px solid #ddd;
            padding: 8px;
        }
        th,
        td {
            font-size: 14px;
            border: none;
            text-align: left;
            padding: 0.5em 8px;
            // float: left;
            color: var(--subtitle-color);
            font-weight: 600;
            border-right: 1px solid var(--shadow);
            margin-left: 10px;
            &:last-child {
                // text-align: right;
                border-right: none;
            }
        }
        td {
            // line-height: 1em;
            color: var(--body-color);
            padding: 8px;
            font-weight: 500;
        }
    }
    .detail-msg {
        margin: 1em 0.5em 0 0.5em;
        color: var(--subtitle-color);
        font-size: 14px;
        ul {
            margin-top: 0.5em;
            padding-left: 1em;
            li {
                padding: 0.2em 0;
            }
        }

        fa-icon {
            margin-right: 5px;
        }
        &-issues {
            li {
                list-style: decimal !important;
            }
            .icon-content {
                margin-left: -1em;
            }
            p {
                margin-top: 0.2em;
                margin-bottom: 1.2em;
            }
            div,
            span {
                color: var(--error-button);
                font-weight: 600;
            }
        }
        &-solution {
            div {
                font-weight: 600;
                color: var(--active-color);
            }
            li {
                white-space: pre-line;
                list-style: none;
                color: var(--subtitle-color);
                margin-top: -0.5em;
            }
            p {
                margin-top: 0.2em;
                margin-bottom: 1.2em;
            }
            // li:before {
            //     content: "";
            //     border: 2px solid #61bcff;
            //     border-radius: 50%;
            //     height: 6px;
            //     width: 6px;
            //     margin-top: 6px;
            //     margin-right: 8px;
            //     flex-shrink: 0;
            // }
        }
        &-link {
            margin-top: 1em;
            margin-bottom: 1.2em;
            div {
                color: var(--active-color);
                // color: #4d50ee;
                font-size: 14px;
                font-weight: 600;
            }
            ul {
                margin-top: 0em;
            }
            li {
                white-space: pre-line;
                list-style: none;
                display: block;
                margin-bottom: 0.6em;
                margin-top: 0.4em;
                line-height: 0.7;
                text-transform: capitalize;
                a {
                    // font-size: 12px;
                    line-break: anywhere;
                    color: var(--subtitle-color);
                    border-bottom: 1px solid;
                    &:hover {
                        color: var(--level-button);
                        border-bottom: 1px solid;
                    }
                }
            }
            li:before {
                content: "";
                border: 2px solid #dddcf8;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                margin-top: 6px;
                margin-right: 8px;
                flex-shrink: 0;
            }
        }
        &-docs {
            margin-top: 2em;
            color: var(--active-color);
            div {
                font-size: 12px;
                font-weight: 400;
            }
            a {
                color: var(--active-color);
                font-style: italic;
                line-break: anywhere;
                border-bottom: 1px solid;
                &:hover {
                    color: var(--level-button);
                    border-bottom: 1px solid;
                }
            }
        }
    }
    .label-content {
        width: calc(100% - 200px);
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }
}
